*{
    background-color: skyblue;
}
.img{
    height: 50%;
    border-radius: 5%;
    object-fit: cover;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}
.website{
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
